POSTGRES_DB=dvizh
POSTGRES_USER=dvizh
POSTGRES_PASSWORD=change-me

VECTOR_DB=dvizh_vectors
VECTOR_USER=dvizh
VECTOR_PASSWORD=change-me

MINIO_ROOT_USER=dvizh
MINIO_ROOT_PASSWORD=change-me-please
MINIO_BUCKET=media

